<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TARS - {{user.nombre}} {{user.apellido}}</title>
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:800|Orbitron:900" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
	<link rel="shortcut icon" href="./images/icono.ico"/>
	<link rel="stylesheet" href="./stylesheets/styles.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
	<div class="background"></div>
	
	<textarea name="hola" id="" cols="30" rows="10"></textarea>
	<button id="connect">Connect</button>
	<div class="menu">
		<div class="background"></div>
		<div class="buscar">
			<div class="input">
				<i class="fa fa-search"></i>
				<input id="buscar" name="buscar" type="search" placeholder="Buscar Personas">
			</div>
			<div class="listado">
				<div class="none">No hay resultados :(</div>
			</div>
		</div>
		<div class="solicitudes">
				<div class="superior">
					<h2>Solicitudes de amistad</h2>
					<button><i class="fa fa-times"></i></button>
				</div>
				<div class="listado">
					<div class="none">No tienes ninguna solicitud :(</div>
				</div>
		</div>
	</div>

	<header>
		<a href=""><img src="./images/LogoTarsCircularWhite.svg" alt="Logo"></a>
		<h1>TARS</h1>
	</header> 

	<main>
		<nav>
			<div class="usuario">
				<div class="estado"></div>
				<span id="nombre">{{user.nombre}} {{user.apellido}}</span>
			</div>
			<button id="menu"><i class="fa fa-bars"></i></button>
			<div class="opciones">
				<button id="friendRequests">Solicitudes<i class="fa fa-user-plus"></i></button>
				<button id="addFriend">Agregar<i class="fa fa-search"></i></button>
				<button id="settings">Configuracion<i class="fa fa-cog"></i></button>
				<button id="logout">Salir<i class="fa fa-sign-out-alt"></i></button>
			</div>
		</nav> 
		<div class="contenedor">
			<div class="left">
				<div class="superior">
					<button id="amigos">Amigos</button>
					<button id="robots">Robots</button>
				</div>
				<div class="inferior">
					<div class="amigos">
						<h3>No tienes amigos :(</h3>
					</div>
					<div class="robots">
						<h3>No hay robots conectados :(</h3>
					</div>
				</div>
			</div>
			<div class="videollamada">
				<h2>No estas en ninguna videollamada</h2>
			</div>
		</div>
	</main>

	<script type="text/javascript" src="./javascripts/jquery-3.3.1.min.js"></script>
	<!--<script type="text/javascript" src="./javascripts/simple-peer.min.js"></script>-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.16/peer.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
	<script type="text/javascript" src="./javascripts/main.js"></script>
</body>
</html>