*{
	font-family: 'Amaranth';
}

html {
	font-size: calc(0.6em + .5vw);
}  

body{
	background-color: #eceff1;
	overflow-y: scroll;
	position: relative;
	margin: 0;
	display: flex;
	flex-direction: column;
}

button:focus, button:active, input:focus, input:active{outline: none;}

div.mensajes{
	align-self: center;
	position: fixed;
	top: 1em;
	width: 23em;
	background-color: rgba(0, 0, 0, 0);
}
div.mensajes div {
	cursor: pointer;
	color: #fff;
	padding: 1em;
	margin-bottom: .4em;
	border-radius: .4em;
	box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.75);
}
div.mensajes div.alert {
	background-color: rgba(229, 57, 53, 0.949);
}
div.mensajes div.success {
	background-color: rgba(0, 200, 83, 0.949);
}

header{
	margin: 1em auto 0;
	width: 23em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header img{
	width: 30%;
}

header span{
	color: #00897b;
	font-family: "Alegreya Sans";
	font-size: 6.5em;
	border-left: 1px solid #00897b;
	padding-left: .1em;
}

main{
	width: 23em;
	margin: 0em auto 2em;
}

main form{
	background-color: #1976d2;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 8px .2px;
	border-radius: 0 0 0.7em 0.7em;
}

main div.botones{
	display: flex;
	justify-content: space-between;
	margin-top: 2em;
}

main div.botones button{
	cursor: pointer;
	border: none;
	color: #fff;
	background-color: #1976d2;
	box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 8px .2px;
	width: 48%;
	padding: .7em 0;
	font-size: 1.2em;
	border-radius: 0.7em 0.7em 0 0;
}

main div.separador {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.2em 0;
}

main div.separador div.linea{
	width: 46%;
	border: .5px solid #90a4ae;
}

main div.separador span {
	color: #90a4ae;
}

input {
	font-size: 1em;
	width: 90%;
	margin: 0 0 1em 0;
	padding: 1em 5%;
	border:none;
}

button#aceptar, button#robot{
	color: #fff;
	font-size: 1.1em;
	background-color: #263238;
	border:none;
	padding: 5%;
	width: 100%;
	cursor: pointer;
	border-radius: 0 0 0.7em 0.7em;
}

button#aceptar:hover {
	background-color: #37474f;
}

button#robot {
	box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 8px .2px;
	background-color: #00897b;
	border-radius: 0.7em;
}

button#robot:hover {
	background-color: #009688;
}

@media screen and (device-width: 360px)
			/*and (orientation: portrait)*/
{
	html {
		font-size: calc(0.6em + 3vw);
	}  	
	main, header {
		width:90%;
	}
}

@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {
	/*----------GALAXY TAB 2----------*/
}