*{
	font-family: 'Amaranth';
}

body{
	background-color: #eceff1;
	overflow-y: scroll;
	position: relative;
	margin: 0;
	height: inherit;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

button:focus, button:active, input:focus, input:active{outline: none;}

video {
	z-index: -10;
	position: fixed;
	top: 0;
	width: 100%;
}

div.mensajes{
	align-self: center;
	position: fixed;
	top: 1em;
	width: 23em;
	background-color: rgba(0, 0, 0, 0);
}
div.mensajes div {
	cursor: pointer;
	color: #fff;
	padding: 1em;
	margin-bottom: .4em;
	border-radius: .4em;
	box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.75);
}
div.mensajes div.alert {
	background-color: rgba(229, 57, 53, 0.949);
}
div.mensajes div.success {
	background-color: rgba(0, 200, 83, 0.949);
}

header{
	margin: 1em auto 0;
	width: 24em;
}

header h1, header h2{
	display: block;
	white-space: nowrap;
	color: #fff;
	font-family: "Alegreya Sans";
	font-size: 4.7em;
	margin: 0;
}

header h2 {
	white-space: pre-line;
	font-size: 1.5em;
}

main{
	width: 24em;
	margin: 0em auto 2em;
}

main form{
	background-color: #1976d2;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 8px .2px;
	border-radius: 0 0 0.7em 0.7em;
}

main div.botones{
	display: flex;
	justify-content: space-between;
	margin-top: 2em;
}

main div.botones button{
	cursor: pointer;
	border: none;
	color: #fff;
	background-color: #1976d2;
	box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 8px .2px;
	width: 48%;
	padding: .7em 0;
	font-size: 1.2em;
	border-radius: 0.7em 0.7em 0 0;
}

main div.separador {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.2em 0;
}

main div.separador div.linea{
	width: 46%;
	border: .5px solid #90a4ae;
}

main div.separador span {
	color: #90a4ae;
}

input {
	font-size: 1em;
	width: 100%;
	margin: 0 0 1em 0;
	padding: 1em 5%;
	border:none;
}
input#apellido, input#nombre, input#repeatPassword {
	display: none;
}

button#aceptar, button#robot{
	color: #fff;
	font-size: 1.1em;
	background-color: #263238;
	border:none;
	padding: 5%;
	width: 100%;
	cursor: pointer;
	border-radius: 0 0 0.7em 0.7em;
}

button#aceptar:hover {
	background-color: #37474f;
}

button#robot {
	background-color: #00897b;
	border-radius: 0.7em;
	box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 8px .2px;
}

button#robot:hover {
	background-color: #009688;
}

a#googleButton {
	box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 8px .2px;
	background-color: #fff;
	border-radius: 0.7em;
	padding: .8em 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: baseline;
	text-transform: none;
	text-decoration: none;
	color: #212121;
	transition: all .3s;
}

a#googleButton:hover{
	background-color: #e0e0e0;
}

a#googleButton img{
	width: 1.7em;
	height: 1.7em;
}

a#googleButton span{
	margin: 0 1em;
	font-size: 1.3em;
}

@media screen and (min-width: 780px) and (max-width: 1024px){

}

@media screen /*and (min-width: 480px)*/ and (max-width: 780px){	
	main, header {
		width:90%;
	}
}

/*@media screen and (max-width: 480px){

}*/