*{
	font-family: 'Amaranth';
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	background-color: #eceff1;
	overflow-y: scroll;
}

body.blockScroll { 
  overflow: hidden;
  overflow-y: scroll !important;
  position: fixed;
  width: 100%;
}

button:focus, button:active, input:focus, input:active{outline: none;}

div.background{
	background-color: #1565c0;
	position: absolute;
	width: 100%;
	height: 15em;
	margin: 0px;
	z-index: -1;
}

div.buscar{
	position: fixed;
	top: 0;left: 0;
	width: 100%;
	height: 100%;
	padding-top: 8em;
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: rgba(30,136,229,0);
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s
}

div.buscar div.input {
	width: 23em;
	border-bottom: 2px solid #fff;
	display: flex;
	justify-content: center;
	padding: 0 0 .2em 0;
}
div.buscar div.input i {
	color: #fff;
	font-size: 1.6em;
	padding: 0 .5em;
	align-self: center;
}
div.buscar div.input input {
	color: #fff;
	font-size: 2em;
	background-color: rgba(0,0,0,0);
	border: none;
	letter-spacing: 1px;
}
div.buscar div.input input::placeholder{
	color: #fff;
	font-style: italic;
	letter-spacing: 0;
}
div.buscar div.input input::-webkit-search-cancel-button {
	-webkit-appearance:none;
}
div.buscar div.listado {
	width: 23em;
	height: 30em;
	overflow-y: auto;
}
div.buscar div.listado > div {
	margin: .5em 0;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.75);
}
div.buscar div.listado > div span {
	padding: 1em;
	font-size: 1.2em;
	color: #424242;
}
div.buscar div.listado > div button {
	cursor: pointer;
	border: none;
	background-color: rgba(0,0,0,0);
	border-left: 2px solid #eee;
	width: 5em;
}
div.buscar div.listado > div button i {
	font-size: 1.8em;
	color: #0d47a1;
}
div.buscar div.listado div div button i.fa-check {
	color: #00c853;
}
div.buscar div.listado div div button i.fa-times {
	color: #d32f2f;
}

header{
	display: flex;
	align-items: center;
	justify-content: flex-start;	
	width: 80%;
	margin: 0em auto;
	padding: 1em 0;
}
header a {
	padding:0;
	margin: 0;
	width: 4em;
}
header img{
	width: 100%;
	height: 100%;
}
header h1 {
	margin: 0;
	padding: 0 .5em;
	font-size: 4em;
	/*color: #d32f2f;*/
	color: #64b5f6;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	height: 40em;
	margin: 0em auto 2em;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 28px .2px;
}

main > nav {
	background-color: #00897b;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

main > nav div.usuario{
	display: flex;
	justify-content: flex-start;
	align-items: center; 	
	padding: .8em 1em;
}
main > nav div.usuario div.estado {
	width: .7em;
	height: .7em;
	background-color: #00c853;
	border-radius: 50%;
	margin: 1em 0;
	cursor: pointer;
}
main > nav div.usuario span#nombre {
	color: #fff;
	font-size: 1.2em;
	margin: 0 .7em;
}
main > nav div.opciones {
	display: flex;
	align-items: stretch;
}
main > nav div.opciones button, main nav button#menu{
	color: #fff;
	font-size: 1.1em;
	cursor: pointer;	
	border: none;
	padding: .8em 1.1em;
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 1.5em;
	background-origin: padding-box;
} 
main > nav div.opciones button:hover, main nav button#menu:hover{
	background-color: #009688;
}

main > nav div.opciones button i, main nav button#menu i{
	padding-left: .2em;
}

button#menu{
	padding: .4em 1em;
	display:none;
}

main div.contenedor {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

main div.contenedor div.left{
	display: inline-flex;
	justify-content: flex-start;
	flex-direction: column;
	height: 100%;
	width: 40%;
}

main div.contenedor div.left div.superior {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: #1565c0;
}

main div.contenedor div.left div.inferior {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
}

main div.contenedor div.left div.superior button {
	background-color: #0d47a1;
	width: 50%;
	padding: .7em 0;
	font-size: 1.2em;
	border: none;
	border-bottom: 6px solid #42a5f5;
	color: #fff;
	cursor: pointer;
}

main div.contenedor div.left div.amigos{
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	height: inherit;
}
main div.contenedor div.left div.robots{
	overflow: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
main div.contenedor div.superior button#robots{border-color: #0d47a1}
main div.contenedor div.left div.robots{width: 0;}

main div.contenedor div.left div div {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	border-bottom: 1px solid #bdbdbd;
}
main div.contenedor div.left div div span{
	color: #424242;
	font-size: 1.1em;
	padding: 1em;
}

main div.contenedor div.left h3{
	color: #9e9e9e;
	font-weight: bold;
	font-style: italic;
	font-size: 1.2em;
}

main div.contenedor div.videollamada{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 60%;
	background-color: #e0e0e0;
	border: 1px solid #9e9e9e; 
}

main div.contenedor div.videollamada h2{
	color: #9e9e9e;
	font-weight: bold;
	font-style: italic;
	font-size: 2em;
}



@media screen and (max-width: 800px){
	header {
		width: 90%;
	}
	main {
		box-shadow: none;
		width: 100%;
		margin: 0;
	}
	main div.contenedor div.videollamada{
		display: none;
	}
	main div.contenedor div.left{
		width: 100%;
	}
	main > nav div.opciones {
		display: none;
	}
	main > nav button#menu {
		display: block;
	}
}