:root {
	--blue: #1565c0;
	--dark-blue: #0d47a1;
	--dark-blue-hover: #0d47a196;
	--title: #42a5f5;
	--navbar: #00897b;
	--navbar-hover: #009688;
	--menu: rgba(30,136,229,0);
	--videocall: #388e3c;
	--videocall-hover: #388e3c96;
	--green: #00c853;
	--green-hover:#00c85396;
	--red: #d32f2f;
	--red-hover:#d32f2f96;
	--yellow: #fdd835;
	--yellow-hover:#fdd83596;
	--grey: #bdbdbd;
	--grey-hover: #bdbdbd96;
}

*{
	font-family: 'Amaranth';
	box-sizing: border-box;
	white-space: nowrap;
}

.mobile {
	display: none;
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	background-color: #eceff1;
	overflow-y: scroll;
}

body.blockScroll { 
  overflow: hidden;
  overflow-y: scroll !important;
  position: fixed;
  width: 100%;
}

button, a, input {-webkit-tap-highlight-color: transparent;}

button:focus, button:active, input:focus, input:active{outline: none;}

body > div.background{
	background-color: var(--blue);
	position: absolute;
	width: 100%;
	height: 37%;
	margin: 0px;
	z-index: -1;
}


/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*------------------------------------- HEADER -----------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/


header{
	display: flex;
	align-items: center;
	justify-content: flex-start;	
	width: 90%;
	margin: 0em auto;
	padding: 2em 0;
}
header a {
	padding:0;
	margin: 0;
	width: 4em;
}
header img{
	width: 100%;
	height: 100%;
}
header h1 {
	margin: 0;
	padding: 0 .5em;
	font-size: 4em;
	color: var(--title);
}


/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*------------------------------------- MAIN -------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/


main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	/*height: 40em;*/
	margin: 0em auto 2em;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 28px .2px;
}

main > nav {
	background-color: var(--navbar);
	width: 100%;
	min-height: 4em;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

main > nav div.usuario{
	display: flex;
	justify-content: flex-start;
	align-items: center; 	
	padding: .8em 1em;
}
main > nav div.usuario div.estado {
	width: .7em;
	height: .7em;
	background-color: var(--green);
	border-radius: 50%;
	margin: 1em 0;
	cursor: pointer;
}
main > nav div.usuario span#nombre {
	color: #fff;
	font-size: 1.2em;
	margin: 0 .7em;
}
main > nav > div.opciones {
	display: flex;
	align-items: stretch;
}
main > nav > div.opciones button, nav button#logout{
	color: #fff;
	font-size: 1.1em;
	cursor: pointer;	
	border: none;
	padding: .8em 1.1em;
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 1.5em;
	background-origin: padding-box;
	-webkit-transition:background .4s;
	-moz-transition:background .4s;
	-o-transition:background .4s;
	transition:background .4s;
} 
main > nav > div.opciones button:hover, nav button#logout:hover{
	background-color: var(--navbar-hover);
}
main > nav > div.opciones button i{
	padding-left: .5em;
}

main div.contenedor {
	width: 100%;
	height: 35em;
	display: flex;
	justify-content: space-between;
}

main div.contenedor div.left{
	display: inline-flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 35%;
	margin-top: .2em;
}

main div.contenedor div.left div.superior {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

main div.contenedor div.left div.inferior {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	/*min-height: 30em;*/
}

main div.contenedor div.left div.superior button {
	background-color: var(--dark-blue);
	width: 50%;
	padding: .7em 0;
	font-size: 1.2em;
	border: none;
	border-bottom: 6px solid var(--title);
	color: #fff;
	cursor: pointer;
	-webkit-transition:border .4s;
	-moz-transition:border .4s;
	-o-transition:border .4s;
	transition:border .4s;
}

main div.contenedor div.left div.inferior div.amigos, main div.contenedor div.left div.inferior div.robots{
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0;
	margin-top: .2em;
}
main div.contenedor div.left div.amigos{width: 100%;}
main div.contenedor div.left div.robots{width: 0;}
main div.contenedor div.superior button#robots{border-color: var(--dark-blue)}
main div.contenedor div.left div.robots{width: 0;}

main div.contenedor div.left div.inferior div div.usuario {
	/*----DIV AMIGO/ROBOT----*/
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	border-bottom: 1px solid var(--grey);
	min-height: 4em;
	box-sizing: border-box;
	order: 1;
}
main div.contenedor div.left div.inferior div div span{
	/*----NOMBRE----*/
	color: #424242;
	font-size: 1.2em;
	margin: 1em;
	white-space: nowrap;
	box-sizing: border-box;
}
main div.contenedor div.left div.inferior > div > div > div{
	/*----OPCIONES----*/
	/*border-left: 2px solid #eee;*/
	height: 100%;
	position: absolute;
	background-color: rgba(255,255,255,0.5);
	display: flex;
	right: 0;top: 0;
	padding:1em;
	padding-left: 0;
	align-items: center;
}
main div.contenedor div.left div.inferior div div div button {
	padding: 0;
	cursor: pointer;
	border: none;
	background-color: rgba(0,0,0,0);
	margin-left: 1em;
}
main div.contenedor div.left div.inferior div div div#estado{
	border-radius: 50%;
	margin-left: 1em;
	/*border:10% solid red;*/
	width: 1em;
	height: 1em;
}
main div.contenedor div.left div.inferior div div div#estado.conectado{
	background-color: var(--green);
	/*background-color: #fff;*/
	/*border: 5px inset var(--videocall);*/
}
main div.contenedor div.left div.inferior div div div#estado.desconectado{
	background-color: #fff;
	border: 3px inset var(--red);
}
main div.contenedor div.left div.inferior div div div button#opciones {
	position: relative;
}
main div.contenedor div.left div.inferior div div div button ul{
	position: absolute;
	z-index: 1;
	margin: 0;
	padding: 0;
	top: 100%;
	right: 0;
	background-color: #eee;
	box-shadow: 3px 3px 13px -3px rgba(0,0,0,0.75);
	list-style: none;
	display: none;
}
main div.contenedor div.left div.inferior div div div button ul li {
	
}
main div.contenedor div.left div.inferior div div div button ul li button{
	padding:.4em;
	font-size: 1.1em;
	width: 100%;
	color: #424242;
	text-align: right;
}
main div.contenedor div.left div.inferior div div div button ul li button:hover{
	background-color: var(--grey);	
}
main div.contenedor div.left div.inferior div div div button i {
	font-size: 1.5em;
}
main div.contenedor div.left div.inferior div div div button i.fa-video {
	color: var(--videocall);
}
main div.contenedor div.left div.inferior div div div button i.fa-ellipsis-v{
	color: var(--grey);
}
main div.contenedor div.left div.inferior div div div button i.fa-video:hover {
	color: var(--videocall-hover);
}
main div.contenedor div.left div.inferior div div div button i.fa-ellipsis-v:hover {
	color: var(--grey-hover);
}

main div.contenedor div.left div.inferior div h3{
	/*----NO HAY AMIGOS/ROBOTS----*/
	color: #9e9e9e;
	font-weight: bold;
	font-style: italic;
	font-size: 1.2em;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

main div.contenedor div.videollamada{
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 65%;
	background-color: #e0e0e0;
	border: 1px solid #9e9e9e; 
}

main div.contenedor div.videollamada div.conferencia {
	display: none;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #000;
}

main div.contenedor div.videollamada div.conferencia div.opciones {
	opacity: 0;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	align-content: left;
	box-shadow: inset 50px 0px 167px -45px rgba(0,0,0,0.75);
}

main div.contenedor div.videollamada div.conferencia div.opciones button {
	width: 4em;
	height: 4em;
	color: #fff;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	margin: 1em auto 1em 0;
	background-color: rgba(0,0,0,0);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-o-transition:all .3s;
	transition:all .3s;
}

main div.contenedor div.videollamada div.conferencia div.opciones button i{
	font-size: 2em;
	color: inherit;
}
main div.contenedor div.videollamada div.conferencia div.opciones button#close{
	width: 5em;
	height: 5em;
	background-color: var(--red);
}
main div.contenedor div.videollamada div.conferencia div.opciones button#close i{font-size: 2.4em;}
main div.contenedor div.videollamada div.conferencia div.opciones button:hover{
	color:#424242;
	background-color: #fff;
}
main div.contenedor div.videollamada div.conferencia div.opciones button#close:hover{
	color: #fff;
	background-color: var(--red-hover);
}


main div.contenedor div.videollamada div.conferencia video#videoFriend {
	width: 100%;
	height: 100%;
}

main div.contenedor div.videollamada div.conferencia video#videoUser {
	height: 25%;
	position: absolute;
	right: 4%;
	bottom: 4%;
}

main div.contenedor div.videollamada div.llamando {
	display: none;
	height: 100%;
	width: 100%;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
}

main div.contenedor div.videollamada div.llamando h3 {
	width: 100%;
	padding: 3em 0;
	text-align: center;
	font-size: 1.8em;
}

main div.contenedor div.videollamada div.llamando div.opciones {
	display: flex;
	justify-content: space-around;
	padding: 3em;
}

main div.contenedor div.videollamada div.llamando div.opciones button {
	border: none;
	border-radius: 50%;
	padding: 1.5em;
	cursor: pointer;
	box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-o-transition:all .3s;
	transition:all .3s;
}

main div.contenedor div.videollamada div.llamando div.opciones button i {
	font-size: 2em;
	color: #fff;
}

main div.contenedor div.videollamada div.llamando div.opciones button#atender {background-color: var(--green);}
main div.contenedor div.videollamada div.llamando div.opciones button#atender:hover {background-color: var(--green-hover);}
main div.contenedor div.videollamada div.llamando div.opciones button#declinar {background-color: var(--red);}
main div.contenedor div.videollamada div.llamando div.opciones button#declinar:hover {background-color: var(--red-hover);}

main div.contenedor div.videollamada h2{
	color: #9e9e9e;
	font-weight: bold;
	font-style: italic;
	font-size: 2em;
}


/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*------------------------------------- DIV MENU ---------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

div.menu {
	z-index: 2;
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
	align-items: center;
}
div.menu div.buscar, 
div.menu div.solicitudes, 
div.menu div.addRobot {
	width: 25em;
	display: none;
	margin-top: 10%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
} 
div.menu div.background {
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: var(--menu);
	-webkit-transition:background .3s;
	-moz-transition:background .3s;
	-o-transition:background .3s;
	transition:background .3s;
}

div.menu div div.listado {
	width: 100%;
	margin-top: .2em;
	max-height: 30em;
	overflow-y: auto;
}
div.menu div div.listado > div {
	margin: .5em 0;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.75);
}
div.menu div div.listado > div span {
	padding: 1em;
	font-size: 1.2em;
	color: #424242;
}
div.menu div div.listado > div button {
	/*cursor: pointer;*/
	border: none;
	background-color: rgba(0,0,0,0);
	border-left: 2px solid #eee;
}
div.menu div div.listado > div button i {
	padding: 0 .6em;
	font-size: 1.8em;
	color: var(--dark-blue);
	-webkit-transition:color .3s, text-shadow .3s;
	-moz-transition:color .3s, text-shadow .3s;
	-o-transition:color .3s, text-shadow .3s;
	transition:color .3s, text-shadow .3s;
}
div.menu div div.listado div button i.fa-user-plus {
	cursor: pointer;
}
div.menu div div.listado div button i.fa-user-clock {
	color: var(--yellow);
}
div.menu div div.listado div div button i.fa-check {
	cursor: pointer;
	color: var(--green);
}
div.menu div div.listado div div button i.fa-times {
	cursor: pointer;
	color: var(--red);
}
div.menu div div.listado div button i.fa-user-plus:hover {
	color: var(--dark-blue-hover);
}
div.menu div div.listado div div button i.fa-check:hover {
	color: var(--green-hover); /*en hexa el 96 es 60% de transparencia*/
}
div.menu div div.listado div div button i.fa-times:hover {
	color: var(--red-hover); /*en hexa el 96 es 60% de transparencia*/
}
div.menu div div.listado div.none{
	padding: 1.3em;
	display: flex;
	justify-content: center;
	color: #9e9e9e;
	font-weight: bold;
	font-style: italic;
	letter-spacing: .05em;
}
div.menu div.buscar div.listado div.none {display: none;}

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*------------------------------------- DIV SOLICITUDES --------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

div.menu div div.superior {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #fff;
}
div.menu div div.superior h2{
	color: #fff;
	margin: 0;
	padding: .5em 0;
	font-weight: normal;
	font-size: 1.6em;
}
div.menu div div.superior button {
	border: none;
	background-color: rgba(0,0,0,0);
	cursor: pointer;
}
div.menu div div.superior button i{
	color: #fff;
	font-size: 2em;
}


/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*------------------------------------- DIV BUSQUEDA -----------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

div.buscar div.input {
	width: 100%;
	border-bottom: 2px solid #fff;
	display: flex;
	justify-content: center;
	padding: 0 0 .2em 0;
}
div.buscar div.input i {
	color: #fff;
	font-size: 1.6em;
	padding: 0 .5em;
	align-self: center;
}
div.buscar div.input input {
	width: 100%;
	color: #fff;
	font-size: 2em;
	background-color: rgba(0,0,0,0);
	border: none;
	letter-spacing: 1px;
}
div.buscar div.input input::placeholder{
	color: #fff;
	font-style: italic;
	letter-spacing: 0;
}
div.buscar div.input input::-webkit-search-cancel-button {
	-webkit-appearance:none;
}

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*------------------------------------- DIV AGREGAR ROBOT -----------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

div.addRobot div.mac, div.addRobot div.movimiento {
	padding: 1em;
	margin: .3em 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.75);
	display: flex;
	flex-direction: column;
}
div.addRobot div > span {
	width: 100%;
	padding: .5em 0;
	font-size: 1.3em;
} 
div.addRobot div.mac div.inputs {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin: 1em 0;
}
div.addRobot div.mac div.inputs input {
	text-transform:uppercase;
	text-align: center;
	width: 15%;
	font-size: 1.3em;
	margin: 0 auto;
}
div.addRobot div.mac div.inputs span {
	width: .6em;
}
div.addRobot div.mac button {
	cursor: pointer;
	font-size: 1.3em;
	padding: .3em;
	width: 100%;
	border: none;
	color: #fff;
	background-color: var(--blue);
}
div.addRobot div.movimiento {
	display: none;
}
div.addRobot div.movimiento > span {
	width: 100%;
	border-bottom: 1px solid var(--blue); 
}
div.flechas {
	margin: 1em 0;
	width: 100%;
	height: 5em;
	display: flex;
	align-items: stretch;
}
div.flechas button, div.movimiento div.circuitos button {
	background-color: #fff;
	cursor: pointer;
	border: 3px solid var(--navbar);
	border-color: var(--navbar) var(--navbar) var(--blue) var(--blue);
	transition: all .3s;
}
div.flechas button:active, div.movimiento div.circuitos button:active {
	background-color: var(--navbar);
	border-color: var(--navbar);
	color: #fff;
}
div.flechas > button {
	width: 30%;
}
div.flechas > button:nth-child(1) {border-radius: 25px 0 0 25px;}
div.flechas > button:nth-child(3) {border-radius: 0 20px 20px 0;}
div.flechas div {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	flex-direction: column;
	margin: 0 .5em;
}
div.flechas div button {
	width: 100%;
	height: 47%;
}
div.flechas button i{
	font-size: 1.6em;
}
div.movimiento div.circuitos {
	margin: 1em 0;
	display: flex;
	justify-content: space-between;
}
div.movimiento div.circuitos button {
	width: 32%;
	padding: .8em;
	font-size: 1em;
}
div.movimiento div.circuitos button:nth-child(1) {border-radius: 20px 0 0 20px;}
div.movimiento div.circuitos button:nth-child(3) {border-radius: 0 20px 20px 0;}

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*------------------------------------- DIV SCREENSHOT ---------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/


div.screenshot {
	z-index: 20;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	justify-content: center;
}

div.screenshot div.container {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: stretch;
	background-color: #fff;
	box-shadow: 0px 0px 32px -2px rgba(0,0,0,0.75);
}

div.screenshot div.container h3 {
	font-size: 1.5em;
	padding: 0 1em;
}

div.screenshot div.container div {
	display: flex;
	justify-content: space-between;
}

div.screenshot div.container a, div.screenshot div.container button {
	-webkit-transition:background .4s;
	-moz-transition:background .4s;
	-o-transition:background .4s;
	transition:background .4s;
	text-decoration: none;
	width: 50%;
	font-size: 1.2em;
	padding: .5em;
	text-align: center;
	cursor: pointer;
	border: none;
}

div.screenshot div.container a {
	color: #fff;
	background-color: var(--dark-blue);
}

div.screenshot div.container button {
	color: var(--black);
	background-color: #eee;
}

div.screenshot div.container a:hover {
	background-color: var(--dark-blue-hover);
}

div.screenshot div.container button:hover {
	background-color: #eee;
}

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*------------------------------------- DIV MENSAJES -----------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

div.mensajes {
	max-height: 25em;
	overflow: auto;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 3;
	padding: 1em;
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
}
div.mensajes > div {
	min-height: 3em;
	margin-top: .7em;
	box-sizing: border-box;
	padding-left: 1em;
	border-radius: .7em;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 20px .2px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	width: 0;
	padding: 0;
	display: none;
}
div.mensajes > div span {
	padding: 1em;
	padding-left: .7em;
}
div.mensajes > div button {
	cursor: pointer;
	padding: 1em 1.2em;
	border:none;
	/*border-left: 1px #9e9e9e solid;*/
	background-color: #e0e0e0;
	border-radius: 0 .7em .7em 0;
}
div.mensajes > div button i {
	color: #9e9e9e;
	font-weight: bold;
	font-size: 1.2em;
}
div.mensajes > div div.status {
	height: .6em;
	width: .6em;
	align-self: center;
	border-radius: 50%;
	display: inline-block;
}
div.mensajes > div div.status.green {background-color: var(--green)}
div.mensajes > div div.status.red {background-color: var(--red)}

/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*------------------------------------- DIV MENU BOTTOM ---------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

div.menuBottom {
	display: none;
	height: 4em;
	z-index: 2;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	justify-content: space-around;
	background-color: #fff;
	box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.75);
}
div.menuBottom button{
	border: none;
	padding:1em;
	background-color: rgba(0,0,0,0);
}
div.menuBotton button#robots {
	border-right: 7px solid grey;
}
div.menuBottom button i{
	font-size: 1.5em;
	color: var(--blue);
}
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*------------------------------------- MEDIA QUERIES ----------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 780px) and (max-width: 1024px){
	/*----------TABLETS--------*/
	header {
		width: 90%;
	}
	main {
		box-shadow: none;
		width: 100%;
		margin: 0;
	}
}

@media screen /*and (min-width: 480px)*/ and (max-width: 780px){
	/*----------MOBILE--------*/
	html, body{
		overflow:hidden;
		height: 100%;
	}
	header {
		width: 90%;
		padding: 1em 0;
	}
	main {
		box-shadow: none;
		width: 100%;
		margin: 0;
		height: 100%;
	}
	main div.contenedor div.videollamada{
		display: none;
		position: fixed;
		top:0;left: 0;
		z-index: 5;
		width: 100%;
		height: 100%;
	}
	main div.contenedor div.left{
		width: 100%;
		/*height: 15em;*/
		max-height: 100%;
	}
	main div.contenedor div.left div.inferior{
		max-height: 100%;
	}
	main div.contenedor div.left div.superior{
		display: none;
	}
	main nav div.usuario {
		padding: .5em 1em;
	}
	main nav div.opciones{
		display: none;
	}
	main div.contenedor div.left div.amigos {
		overflow-y: auto;
		height: 100%;
	}
	div.menu div.buscar, div.menu div.solicitudes, div.menu div.addRobot{
		width: 90%;
	}
	div.menuBottom {
		display: flex;
	}
	div.mensajes{
		display: none;
	}
	div.flechas {
		height: 20em;
	}
	.mobile {
		display: flex;
	}		
}

/*
@media screen and (max-width: 480px){

}
*/